body {
    font-size: large;
    text-align: center;
}



header {
    height: 60px;
    background-color: #ffffff; 
    border-bottom: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;

}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 15px;
}

  nav ul li a:hover {
    color: rgb(202, 231, 202); 
}


.logo {
    margin-top: 60px;
  }

  /*Barra de pesquisa*/
  .search-container {
    display: flex;
    margin: 20px;
    margin-left: 40%;
  }
  
  input {
    padding: 8px;
    font-size: 16px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
    margin-left: 5px;
  }
  

  /*Rodapé*/
  .footer {
    padding: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(224, 175, 135);
    color: white;
    text-align: center;
 }